<div>
	<h1>Getting Started</h1>

	<h2>Getting the project</h2>
	<p>
		The source for this page is available on <a href="https://github.com/zed0/aggressive_mountain">Github</a>.<br />
		To edit this code you will need to download it from github using git.

		The command to do this is: <pre><code>git clone https://github.com/zed0/aggressive_mountain.git</code></pre>

		This will download most of the code into a directory inside your current folder.<br />

		To check the project works open up the local <code>client/index.html</code> file in your browser, you should see another copy of this site.
		Because of chrome's security settings you will need to launch it with <code>google-chrome --disable-web-security --allow-file-access-from-files</code>.
	</p>

	<p>
		This copy of the site is on my webspace, but if you want to see what it looks like online you can get free webspace from compsoc for this and other projects.
	</p>

	<h2>Modifying the project</h2>
	<p>
		The world is your oyster, open up your favourite editor and do whatever you want to the code.  There are some ideas on the front page, but feel free to choose something else to do.<br />
		Kate and vim are installed on the machines, and Sublime or Atom are easy to install.<br />
	</p>

	<h2>Structure</h2>
	<p>
		Try to maintain the structre of this project.  If you are adding a modular reusable component that can be used in several places then put it in <code>client/components/componentName</code>, if you are adding new page views to the site then put them in <code>client/views/viewName</code>.<br />
		Don't be afraid to add subdirectories if you feel your code needs splitting up more, or if you're creating a sub-component of a larger feature.
	</p>

	<h2>Giving your changes to everyone else</h2>
	<p>
		Since this project is on Github we'll be using that to coordinate various people's changes.  You can clone the repository, update that, and then make a pull request.  If you don't know how to do this then there are some tutorials listed in the Resources section.<br />
		We'll try to respond to pull requests as fast as we can, but code review can be a slow process.  Don't be offended if you get asked to make some changes before we merge your code, we're just trying to keep the code tidy for everyone.
	</p>

	<h2>Resources</h2>
	<ul>
		<li>
			Git
			<ul>
				<li>
					<a href="https://help.github.com/articles/fork-a-repo/">Github - How to fork a repo</a>
				</li>
				<li>
					<a href="https://help.github.com/articles/creating-a-pull-request/">Github - How to create a pull request</a>
				</li>
			</ul>
		</li>
		<li>
			Angular (we're currently using version 1.5.8)
			<ul>
				<li>
					<a href="https://docs.angularjs.org/tutorial">Tutorial</a>
				</li>
				<li>
					<a href="https://docs.angularjs.org/tutorial">API Documentation</a>
				</li>
			</ul>
		</li>
		<li>
			General
			<ul>
				<li>
					<a href="https://developer.mozilla.org/en-US/">MDN - General HTML/CSS/JS documentation</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
