<div>
	<h1>Welcome!</h1>
	<p>
		This is a quick demo of how to use Angular! Currently there is very little here, apart from an extremely basic todo app.  You are encouraged to add to this site!
	</p>
	<p>
		This is intended to be a collaborative project, so once you've made some changes, make a pull request, and we'll merge them in.<br/>
		With any luck, we'll collaborate to make a decent site.<br/>
	</p>
	<p>
		<strong>If you aren't sure what to do, or are having trouble doing what you want to, don't hesitate to ask!</strong>
	</p>
	<p>
		To get started modifying this site take a look at the <a ui-sref="gettingStarted">Getting Started</a> page.
	</p>
	<p>
		If you don't have any ideas for something to do here are some suggestions (roughly listed in easy to hard order):
		<ul>
			<li>Add some more fields to the todo list, for example deadlines <strong>(html/javascript)</strong></li>
			<li>Make it look prettier <strong>(html/css)</strong></li>
			<li>Make changes to the todo list persist to the browser<strong>(javascript)</strong></li>
			<li>Allow modifications to your existing items <strong>(javascript)</strong></li>
			<li>Add searching for items <strong>(javascript)</strong></li>
			<li>Add tags to items <strong>(javascript/html/css)</strong></li>
			<li>Add bootstrap to the site <strong>(html/css)</strong></li>
			<li>Add notifications <strong>(javascript)</strong></li>
			<li>Add linting to the project <strong>(javascript/CLI)</strong></li>
			<li>Add another app to the site <strong>(javascript/html/css)</strong></li>
			<li>Add jasmine tests to the project <strong>(javascript)</strong></li>
			<li>Add a build system to build the site <strong>(javascript/grunt/gulp/broccoli/brunch)</strong></li>
			<li>Make changes to the todo list persist to a server via REST <strong>(javascript/serverside language)</strong></li>
		</ul>
	</p>
</div>
